<div class="search">
  <div class="search--input">
    <nz-input-group
      class="search--input__text"
      nzSearch
      nzSize="large"
      [nzAddOnAfter]="suffixButton"
    >
      <input
        class="text--search"
        type="text"
        nz-input
        placeholder="Ingrese palabras clave"
        [(ngModel)]="searchText"
        (ngModelChange)="search($event)"
      />
    </nz-input-group>
    <ng-template class="search--input__button" #suffixButton>
      <button
        class="button--search"
        nz-button
        nzType="primary"
        nzSize="large"
        nzSearch
        (click)="searchButton()"
      >
        Buscar
      </button>
    </ng-template>
    <div
      *ngIf="searchData.length > 0"
      nz-row
      [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
    >
      <div
        nz-col
        class="gutter-row results--search"
        [nzSpan]="6"
        *ngFor="let item of searchData"
      >
        <app-card [cardData]="item"></app-card>
      </div>
    </div>
  </div>
</div>
