<nz-card
  nzHoverable
  style="width: 340px"
  [nzCover]="coverTemplate"
  class="card--description"
  (click)="handleCardClick()"
  routerLink="/rute-detail"
>
  <nz-card-meta
    class="card--description__text"
    nzTitle="{{ cardData.name }}"
  ></nz-card-meta>
  <nz-divider nzType="horizontal"></nz-divider>
  <p
    nz-typography
    class="card--dificult1"
    [ngClass]="{
      'card--difficult__easy': cardData.difficulty === 'Facil',
      'card--difficult__normal': cardData.difficulty === 'Normal',
      'card--difficult__hard': cardData.difficulty === 'Dificil'
    }"
  >
    {{ cardData.difficulty }}
  </p>
  <nz-rate
    nzAllowHalf
    nzAllowClear
    [ngModel]="cardData.stars"
    [nzDisabled]="true"
    class="card--rate"
  ></nz-rate>
  <div class="card-stats">
    <p nz-typography nzType="secondary">
      Distancia: {{ cardData.distance }} Km.
    </p>
    <nz-divider nzType="vertical"></nz-divider>
    <p nz-typography nzType="secondary">
      Duracion: {{ cardData.duration }} horas.
    </p>
  </div>
</nz-card>
<ng-template #coverTemplate class="cars--template">
  <img
    class="card--cover"
    alt="example"
    width="100%"
    height="250px"
    src="{{ cardData.image }}"
  />
</ng-template>
