<form nz-form>
  <nz-form-item class="form--item">
    <nz-form-label
      [nzSpan]="6"
      nzFor="username"
      [ngModel]="username"
      (ngModelChange)="handleUsername($event)"
      >Username</nz-form-label
    >
    <nz-form-control [nzSpan]="14">
      <input nz-input name="userName" type="userName" id="userName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form--item">
    <nz-form-label
      [nzSpan]="6"
      nzFor="password"
      [ngModel]="password"
      (ngModelChange)="handlePassword($event)"
      >Password</nz-form-label
    >
    <nz-form-control [nzSpan]="14">
      <input nz-input name="password" type="password" id="password" />
    </nz-form-control>
  </nz-form-item>
</form>
