.app--header {
  display: flex;
  justify-content: space-between;
}
.inner--content {
  background: #fff;
  height: 100%;
}
.logo {
  padding: 5px;
  width: 70px;
}
.app--footer{
  background-color: #001529;
  padding: 0;
}
