.app--header {
  display: flex;
  justify-content: space-between;
}
.inner--content {
  background: #fff;
  height: 100%;
}
.logo {
  padding: 5px;
  width: 70px;
}
.header--navbar__item {
  font-size: 18px;
  font-weight: bold;
}
.dropdown--menu__item {
  font-size: 16px;
  padding: 20px 30px;
}
